### PyCharm
.idea
### VScode
.vscode
### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Loulotte's stuff
.DS_Store
test_LoulotteW

# Boyd's stuff
sponsor_scraping

# Minke's stuff
test_microfluidic_minke

# Koen's stuff
testing
hardware_venv
modelling/data/cfs/06_22_4YFP_Liquid_PURE2.csv
modelling/data/morris_no_aptamer/1_description.txt
modelling/data/morris_no_aptamer/2_description.txt
modelling/data/morris_no_aptamer/3_description.txt
modelling/data/morris_no_aptamer/4_description.txt
modelling/data/morris_no_aptamer/all_1_2.svg
modelling/data/morris_no_aptamer/all_2_2.svg
modelling/data/morris_no_aptamer/all_3_mu_star.svg
modelling/data/morris_no_aptamer/all_4_mu_star.svg
modelling/data/morris_no_aptamer/all_5_mu_star.svg
modelling/data/morris_no_aptamer/all_6_mu_star.svg
modelling/data/morris_no_aptamer/deg_mrna_1_1.svg
modelling/data/morris_no_aptamer/deg_mrna_1_2.svg
modelling/data/morris_no_aptamer/deg_mrna_2_1.svg
modelling/data/morris_no_aptamer/deg_mrna_3_2.svg
modelling/data/morris_no_aptamer/deg_mrna_4_2.svg
modelling/data/morris_no_aptamer/deg_mrna_combined_1_2.svg
modelling/data/morris_no_aptamer/deg_mrna_combined_3_4.svg
modelling/data/morris_no_aptamer/deg_mrna_combined_5_6.svg
modelling/data/morris_no_aptamer/deg_tlr_1_1.svg
modelling/data/morris_no_aptamer/deg_tlr_1_2.svg
modelling/data/morris_no_aptamer/deg_tlr_2_1.svg
modelling/data/morris_no_aptamer/deg_tlr_3_2.svg
modelling/data/morris_no_aptamer/deg_tlr_4_2.svg
modelling/data/morris_no_aptamer/deg_tlr_combined_1_2.svg
modelling/data/morris_no_aptamer/deg_tlr_combined_3_4.svg
modelling/data/morris_no_aptamer/deg_tlr_combined_5_6.svg
modelling/data/morris_no_aptamer/k_cat_1_1.svg
modelling/data/morris_no_aptamer/k_cat_1_2.svg
modelling/data/morris_no_aptamer/k_cat_2_1.svg
modelling/data/morris_no_aptamer/k_cat_3_.svg
modelling/data/morris_no_aptamer/k_cat_3_2.svg
modelling/data/morris_no_aptamer/k_cat_4_2.svg
modelling/data/morris_no_aptamer/k_cat_combined_1_2.svg
modelling/data/morris_no_aptamer/k_cat_combined_3_4.svg
modelling/data/morris_no_aptamer/k_cat_combined_5_6.svg
modelling/data/morris_no_aptamer/k_l_1_1.svg
modelling/data/morris_no_aptamer/k_l_1_2.svg
modelling/data/morris_no_aptamer/k_l_2_1.svg
modelling/data/morris_no_aptamer/k_l_3_2.svg
modelling/data/morris_no_aptamer/k_l_4_2.svg
modelling/data/morris_no_aptamer/k_l_combined_1_2.svg
modelling/data/morris_no_aptamer/k_l_combined_3_4.svg
modelling/data/morris_no_aptamer/k_l_combined_5_6.svg
modelling/data/morris_no_aptamer/k_m_1_1.svg
modelling/data/morris_no_aptamer/k_m_1_2.svg
modelling/data/morris_no_aptamer/k_m_2_1.svg
modelling/data/morris_no_aptamer/k_m_3_2.svg
modelling/data/morris_no_aptamer/k_m_4_2.svg
modelling/data/morris_no_aptamer/k_m_combined_1_2.svg
modelling/data/morris_no_aptamer/k_m_combined_3_4.svg
modelling/data/morris_no_aptamer/k_m_combined_5_6.svg
modelling/data/morris_no_aptamer/k_mat_1_1.svg
modelling/data/morris_no_aptamer/k_mat_1_2.svg
modelling/data/morris_no_aptamer/k_mat_2_1.svg
modelling/data/morris_no_aptamer/k_mat_3_.svg
modelling/data/morris_no_aptamer/k_mat_3_2.svg
modelling/data/morris_no_aptamer/k_mat_4_2.svg
modelling/data/morris_no_aptamer/k_mat_combined_1_2.svg
modelling/data/morris_no_aptamer/k_mat_combined_3_4.svg
modelling/data/morris_no_aptamer/k_mat_combined_5_6.svg
modelling/data/morris_no_aptamer/k_s_1_1.svg
modelling/data/morris_no_aptamer/k_s_1_2.svg
modelling/data/morris_no_aptamer/k_s_2_1.svg
modelling/data/morris_no_aptamer/k_s_3_.svg
modelling/data/morris_no_aptamer/k_s_3_2.svg
modelling/data/morris_no_aptamer/k_s_4_2.svg
modelling/data/morris_no_aptamer/k_s_combined_1_2.svg
modelling/data/morris_no_aptamer/k_s_combined_3_4.svg
modelling/data/morris_no_aptamer/k_s_combined_5_6.svg
modelling/data/morris_no_aptamer/k_tl_1_1.svg
modelling/data/morris_no_aptamer/k_tl_1_2.svg
modelling/data/morris_no_aptamer/k_tl_2_1.svg
modelling/data/morris_no_aptamer/k_tl_3_.svg
modelling/data/morris_no_aptamer/k_tl_3_2.svg
modelling/data/morris_no_aptamer/k_tl_4_2.svg
modelling/data/morris_no_aptamer/k_tl_combined_1_2.svg
modelling/data/morris_no_aptamer/k_tl_combined_3_4.svg
modelling/data/morris_no_aptamer/k_tl_combined_5_6.svg
modelling/data/morris_no_aptamer/k_tlr_1_1.svg
modelling/data/morris_no_aptamer/k_tlr_1_2.svg
modelling/data/morris_no_aptamer/k_tlr_2_1.svg
modelling/data/morris_no_aptamer/k_tlr_3_2.svg
modelling/data/morris_no_aptamer/k_tlr_4_2.svg
modelling/data/morris_no_aptamer/k_tlr_combined_1_2.svg
modelling/data/morris_no_aptamer/k_tlr_combined_3_4.svg
modelling/data/morris_no_aptamer/k_tlr_combined_5_6.svg
modelling/data/morris_no_aptamer/k_ts_1_1.svg
modelling/data/morris_no_aptamer/k_ts_1_2.svg
modelling/data/morris_no_aptamer/k_ts_2_1.svg
modelling/data/morris_no_aptamer/k_ts_3_.svg
modelling/data/morris_no_aptamer/k_ts_3_2.svg
modelling/data/morris_no_aptamer/k_ts_4_2.svg
modelling/data/morris_no_aptamer/k_ts_combined_1_2.svg
modelling/data/morris_no_aptamer/k_ts_combined_3_4.svg
modelling/data/morris_no_aptamer/k_ts_combined_5_6.svg
modelling/data/morris_no_aptamer/kc_s_1_1.svg
modelling/data/morris_no_aptamer/kc_s_1_2.svg
modelling/data/morris_no_aptamer/kc_s_2_1.svg
modelling/data/morris_no_aptamer/kc_s_3_2.svg
modelling/data/morris_no_aptamer/kc_s_4_2.svg
modelling/data/morris_no_aptamer/kc_s_combined_1_2.svg
modelling/data/morris_no_aptamer/kc_s_combined_3_4.svg
modelling/data/morris_no_aptamer/kc_s_combined_5_6.svg
modelling/data/morris_no_aptamer/mu_1.csv
modelling/data/morris_no_aptamer/mu_2.csv
modelling/data/morris_no_aptamer/mu_3.csv
modelling/data/morris_no_aptamer/mu_4.csv
modelling/data/morris_no_aptamer/mu_5.csv
modelling/data/morris_no_aptamer/mu_6.csv
modelling/data/morris_no_aptamer/mu_star_1.csv
modelling/data/morris_no_aptamer/mu_star_2.csv
modelling/data/morris_no_aptamer/mu_star_3.csv
modelling/data/morris_no_aptamer/mu_star_4.csv
modelling/data/morris_no_aptamer/mu_star_5.csv
modelling/data/morris_no_aptamer/mu_star_6.csv
modelling/data/morris_no_aptamer/mu_star_conf_level_1.csv
modelling/data/morris_no_aptamer/mu_star_conf_level_2.csv
modelling/data/morris_no_aptamer/mu_star_conf_level_3.csv
modelling/data/morris_no_aptamer/mu_star_conf_level_4.csv
modelling/data/morris_no_aptamer/mu_star_conf_level_5.csv
modelling/data/morris_no_aptamer/mu_star_conf_level_6.csv
modelling/data/morris_no_aptamer/mu_star_conf_level_TEST.csv
modelling/data/morris_no_aptamer/mu_star_TEST.csv
modelling/data/morris_no_aptamer/mu_TEST.csv
modelling/data/morris_no_aptamer/sigma_1.csv
modelling/data/morris_no_aptamer/sigma_2.csv
modelling/data/morris_no_aptamer/sigma_3.csv
modelling/data/morris_no_aptamer/sigma_4.csv
modelling/data/morris_no_aptamer/sigma_5.csv
modelling/data/morris_no_aptamer/sigma_6.csv
modelling/data/morris_no_aptamer/sigma_TEST.csv
hardware/test_results
modelling/data/morris_no_aptamer/mu_star_conf_level_Wat je hier neerzet geeft een tag aan de file, bijv
modelling/data/morris_no_aptamer/mu_star_Wat je hier neerzet geeft een tag aan de file, bijv
modelling/data/morris_no_aptamer/mu_Wat je hier neerzet geeft een tag aan de file, bijv
modelling/data/morris_no_aptamer/sigma_Wat je hier neerzet geeft een tag aan de file, bijv
modelling/data/morris_prokaryotic/mu_star_conf_level_test.csv
modelling/data/morris_prokaryotic/mu_star_test.csv
modelling/data/morris_prokaryotic/mu_test.csv
modelling/data/morris_prokaryotic/sigma_test.csv
